<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.pplax.pplaxblog.xo.mapper.BlogSortMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xyz.pplax.pplaxblog.xo.entity.BlogSort">
        <id column="uid" property="uid" />
        <result column="sort_name" property="sortName" />
        <result column="summary" property="summary" />
        <result column="content" property="content" />
        <result column="icon" property="icon" />
        <result column="order" property="order" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="click_count" property="clickCount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `uid`, `sort_name`, `summary`, `content`, `icon`, `order`, `create_time`, `update_time`, `status`, `click_count`
    </sql>
    <sql id="Linked_Query_Column_List">
        `t_blog_sort`.`uid` as `uid`,
        `t_blog_sort`.`sort_name` as `sort_name`,
        `t_blog_sort`.`summary` as `summary`,
        `t_blog_sort`.`content` as `content`,
        `t_blog_sort`.`icon` as `icon`,
        `t_blog_sort`.`order` as `order`,
        `t_blog_sort`.`create_time` as `create_time`,
        `t_blog_sort`.`update_time` as `update_time`,
        `t_blog_sort`.`status` as `status`,
        `t_blog_sort`.`click_count` as `click_count`,
    </sql>

    <select id="selectListOrderByCites" resultType="xyz.pplax.pplaxblog.xo.entity.BlogSort" parameterType="map">
        SELECT
            <include refid="Linked_Query_Column_List"></include>
            COUNT(t_blog.blog_sort_uid) AS cites
        FROM
            t_blog_sort
                LEFT JOIN
            t_blog ON t_blog_sort.uid = t_blog.blog_sort_uid
        ${ew.customSqlSegment}
        GROUP BY
            t_blog_sort.uid
        ORDER BY
            cites DESC
    </select>

</mapper>
