<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.pplax.pplaxblog.xo.mapper.BlogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xyz.pplax.pplaxblog.xo.entity.Blog">
        <id column="uid" property="uid" />
        <result column="title" property="title" />
        <result column="summary" property="summary" />
        <result column="blog_content_uid" property="blogContentUid" />
        <result column="tag_uids" property="tagUids" />
        <result column="click_count" property="clickCount" />
        <result column="quantity" property="quantity" />
        <result column="cover_image_uid" property="coverImageUid" />
        <result column="user_uid" property="userUid" />
        <result column="is_original" property="isOriginal" />
        <result column="articles_part" property="articlesPart" />
        <result column="blog_sort_uid" property="blogSortUid" />
        <result column="level" property="level" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `uid`, `title`, `summary`, `blog_content_uid`, `tag_uids`, `uid`, `title`, `summary`, `blog_content_uid`, `tag_uids`, `click_count`, `quantity`, `cover_image_uid`, `user_uid`, `is_original`, `articles_part`, `blog_sort_uid`, `level`, `status`, `create_time`, `update_time`
    </sql>

    <select id="selectCreateDateListDesc" resultType="date">
        SELECT DISTINCT DATE(t.create_time)
        FROM (
            select create_time, `status`
            from t_blog
            where
            `status` &lt;&gt; 0 and
            `status` &lt;&gt; 4 and
            `status` &lt;&gt; 5 and
            `status` &lt;&gt; 6
            ORDER BY DATE(create_time) DESC
        ) as t
    </select>

    <select id="selectSimplifiedListByCreateDate" parameterType="date" resultMap="BaseResultMap">
        select
        `uid`, `title`, `create_time`
        from t_blog
        where DATE(create_time) = #{date} and
          `status` &lt;&gt; 0 and
          `status` &lt;&gt; 4 and
          `status` &lt;&gt; 5 and
          `status` &lt;&gt; 6
        <if test="userUid != null">
            and user_uid = #{userUid}
        </if>
    </select>

</mapper>
