<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.pplax.pplaxblog.xo.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xyz.pplax.pplaxblog.xo.entity.Menu">
        <id column="uid" property="uid" />
        <result column="parent_uid" property="parentUid" />
        <result column="type" property="type" />
        <result column="route" property="route" />
        <result column="endpoint" property="endpoint" />
        <result column="title" property="title" />
        <result column="level" property="level" />
        <result column="sort_no" property="sortNo" />
        <result column="icon" property="icon" />
        <result column="remarks" property="remarks" />
        <result column="hidden" property="hidden" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `uid`, `parent_uid`, `type`, `route`, `endpoint`, `title`, `level`, `sort_no`, `icon`, `remarks`, `hidden`, `create_time`, `update_time`, `status`
    </sql>

</mapper>
