<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.pplax.pplaxblog.xo.mapper.RequestLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xyz.pplax.pplaxblog.xo.entity.RequestLog">
        <id column="uid" property="uid" />
        <result column="user_uid" property="userUid" />
        <result column="menu_uid" property="menuUid" />
        <result column="endpoint" property="endpoint" />
        <result column="ip" property="ip" />
        <result column="address" property="address" />
        <result column="spend_time" property="spendTime" />
        <result column="params_json" property="paramsJson" />
        <result column="browser" property="browser" />
        <result column="access_os" property="accessOs" />
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `uid`, `user_uid`, `menu_uid`, `endpoint`, `ip`, `address`, `spend_time`, `params_json`, `browser`, `access_os`, `type`, `status`, `create_time`, `update_time`
    </sql>

</mapper>
