<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.pplax.pplaxblog.xo.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xyz.pplax.pplaxblog.xo.entity.User">
        <id column="uid" property="uid" />
        <result column="role_uid" property="roleUid" />
        <result column="user_info_uid" property="userInfoUid" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="email" property="email" />
        <result column="is_email_enabled" property="isEmailActivated" />
        <result column="mobile" property="mobile" />
        <result column="is_mobile_enabled" property="isMobileActivated" />
        <result column="login_count" property="loginCount" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="last_login_ip" property="lastLoginIp" />
        <result column="last_login_address" property="lastLoginAddress" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `uid`, `role_uid`, `user_info_uid`, `username`, `password`, `salt`, `email`, `is_email_activated`, `mobile`, `is_mobile_activated`, `login_count`, `last_login_time`, `last_login_ip`, `last_login_address`, `status`, `create_time`, `update_time`
    </sql>

    <sql id="Full_Colum_List">
        `t_user`.`uid`,
        `t_user`.`role_uid`,
        `t_user`.`user_info_uid`,
        `t_user`.`username`,
        `t_user`.`password`,
        `t_user`.`salt`,
        `t_user`.`email`,
        `t_user`.`is_email_activated`,
        `t_user`.`mobile`,
        `t_user`.`is_mobile_activated`,
        `t_user`.`login_count`,
        `t_user`.`last_login_time`,
        `t_user`.`last_login_ip`,
        `t_user`.`last_login_address`,
        `t_user`.`status`,
        `t_user`.`create_time`,
        `t_user`.`update_time`
    </sql>

    <select id="selectListByNicknameAndUsername" parameterType="xyz.pplax.pplaxblog.xo.dto.list.UserGetListDto" resultMap="BaseResultMap">
        select
        <include refid="Full_Colum_List"></include>, `nickname`
        from t_user
        left join t_user_info on t_user.user_info_uid = t_user_info.uid
        where `t_user`.`status` &lt;&gt; 0
        <if test="nickname != null">
            and `nickname` like CONCAT('%',#{nickname},'%')
        </if>
        <if test="username != null">
            and `username` like CONCAT('%',#{username},'%')
        </if>
        limit  #{limit,jdbcType=INTEGER}, #{offset,jdbcType=INTEGER}
    </select>


    <select id="selectCountByNicknameAndUsername" resultType="java.lang.Long"  parameterType="xyz.pplax.pplaxblog.xo.dto.list.UserGetListDto">
        select
        count(1)
        from t_user
        left join t_user_info on t_user.user_info_uid = t_user_info.uid
        where `t_user`.`status` &lt;&gt; 0
        <if test="nickname != null">
            and `nickname` like CONCAT('%',#{nickname},'%')
        </if>
        <if test="username != null">
            and `username` like CONCAT('%',#{username},'%')
        </if>
    </select>

</mapper>
