<html>
<body><div id="contentDiv" onmouseover="getTop().stopPropagation(event);" onclick="getTop().preSwapLink(event, 'html', 'ZC0004_vDfNJayMtMUuKGIAzzsWvc8');" style="position:relative;font-size:14px;height:auto;padding:15px 15px 10px 15px;z-index:1;zoom:1;line-height:1.7;" class="body">
    <div id="qm_con_body">
        <div id="mailContentContainer" class="qmbox qm_con_body_content qqmail_webmail_only" style="opacity: 1;">
            <style type="text/css">
                .qmbox h1,.qmbox 			h2,.qmbox 			h3 {				color: #00785a;			}			.qmbox p {				padding: 0;				margin: 0;				color: #333;				font-size: 16px;			}			.qmbox hr {				background-color: #d9d9d9;				border: none;				height: 1px;			}			.qmbox .eo-link {				color: #0576b9;				text-decoration: none;				cursor: pointer;			}			.qmbox .eo-link:hover {				color: #3498db;			}			.qmbox .eo-link:hover {				text-decoration: underline;			}			.qmbox .eo-p-link {				display: block;				margin-top: 20px;				color: #009cff;				text-decoration: underline;			}			.qmbox .p-intro {				padding: 30px;			}			.qmbox .p-code {				padding: 0 30px 0 30px;			}			.qmbox .p-news {				padding: 0px 30px 30px 30px;			}
            </style>
            <div style="max-width:800px;padding-bottom:10px;margin:20px auto 0 auto;">
                <table cellpadding="0" cellspacing="0" style="background-color: #fff;border-collapse: collapse; border:1px solid #e5e5e5;box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);text-align: left;width: 100%;font-size: 14px;border-spacing: 0;">
                    <tbody>
                    <tr style="background-color: #f8f8f8;">
                        <td>
                            <img style="padding: 15px 0 15px 30px;width:50px" src="https://img.shiyit.com/9cf1222617fd4fa197991476a53cc883.jpg">                <span>PPLAX blog. </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-intro">
                            <h1 style="font-size: 26px; font-weight: bold;">验证您的邮箱地址</h1>
                            <p style="line-height:1.75em;">感谢您使用 PPLAX blog. </p>
                            <p style="line-height:1.75em;">以下是您的邮箱验证码，有效期15分钟，请在有效期内将它输入到 PPLAX blog 的邮箱验证码输入框中:</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-code">
                            <p style="color: #253858;text-align:center;line-height:1.75em;background-color: #f2f2f2;min-width: 200px;margin: 0 auto;font-size: 28px;border-radius: 5px;border: 1px solid #d9d9d9;font-weight: bold;" th:utext="${code}"></p>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-intro">
                            <p style="line-height:1.75em;">这一封邮件包括一些您的私密的 PPLAX blog 账号信息，请不要回复或转发它，以免带来不必要的信息泄露风险。 </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-intro">
                            <hr>
                            <p style="text-align: center;line-height:1.75em;">pplax - <a href='https://pplax.xyz' style='text-decoration: none;color:#ff6574'>PPLAX blog</a></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <style type="text/css">
                .qmbox style, .qmbox script, .qmbox head, .qmbox link, .qmbox meta {display: none !important;}
            </style>
        </div>
    </div><!-- -->
    <style>
        #mailContentContainer .txt {height:auto;}
    </style>
</div></body>
</html>



